{% extends 'base.html'%}
{% load static%}
{% block content %}
<h1>{{ header }}</h1>

<div class="block-left">
    <div class="card-image">
        <img src="{% static 'img/Me.jpg' %}" class="img-responsive" style="width:500px;" align="right">
        <h6 >
            <b>Я Куттубаев Эркин Ашкенович</b>
            родился в селе Военно-Антоновка Сокулукского района 21 ноября 1986 года<br>
            в большой семье, у меня два брата и две сестры и я самый младший.<br>
            Я женат, у меня трое детей.<br>
            Люблю играть в футбол,баскетбол, шахматы, рыбачить хотя это у меня плохо получается, смотреть фильмы
            в жанре триллер. <br>
            Люблю путешествовать, был в разных странах и местах, но больше люблю путешествовать по Кыргызстану<br>

            В настоящее время учусь на курсах по Python. В ближайшем будущем планирую поменять место и направление работы.
            <table border="5" bgcolor="#9BD8E8">
                <tr>
                    <th>ФИО</th>
                    <th>Год рождения</th>
                    <th>Рост</th>
                    <th>Вес</th>
                </tr>
                <tr>
                    <td>Куттубаев Э. А.</td>
                    <td>1986</td>
                    <td>184</td>
                    <td>94</td>
                </tr>
            </table>


        </h6>


    </div>

</div>
<div class="block-right">


</div>

{% endblock%}
