{% extends 'base.html'%}
{% load static%}
{% block content %}
<h1 align="center">{{ header }}</h1>
<h3 align="right">В целях практики пройденных уроков выполняется данное домашнее задание!</h3>
<p align="justify">
    <h1>Контакты</h1>
    <address>Кыргызская Республика, Чуй, с. Военно-Антоновка, ул. Западная 47<hr>
    Мой email: <a href="mailto:kuttubaev@gmail.com">Kuttubaev@gmail.com</a>
    </address>


</p>
<div class="card">
    <div class="card-image">
        <img src="{% static 'img/VA.jpg' %}" class="img-responsive" style="width:500px;">
    </div>


    </div>
</div>
{% endblock%}
